div {
  text-overflow: ellipsis;
}

.app {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.currentW {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 8vh;
  margin-bottom: 3.5em;
}
.currentW > div {
  margin-top: 4px;
}

.currentW_city {
  font-size: 2em;
  z-index: -1000;
}
.currentW_temp {
  font-size: 3em;
}

.dayForecast {
  width: 100vw;
}

.dayForecast_detail {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.dayForecast_detail_content {
  display: flex;
  justify-content: space-between;
  margin: 20px 14px 20px 14px;
}
.dayForecast_detail_content_item {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.dayForecast_detail_content_item > div {
  text-align: center;
}
.dayForecast_wind {
  margin-top: 4px;
}
.dayForecast_temp {
  margin-top: 4px;
}

.forecast {
  width: 100vw;
  border-bottom: 1px solid;
}

.forecast_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forecast_content {
  margin: 4px 14px 4px 14px;
}
.forecast_tempNight {
  color: grey;
}

.forecast_day {
  flex: 0 1 80px;
  min-width: 62px;

}
.forecast_icon {
  flex: 0 1 55px;
}
.forecast_wind {
  flex: 0 1 200px;
  text-align: center;
  min-width: 82px;
}

.forecast_tempDay {
  flex: 0 1 55px;
  margin-left: 10px;
}

.forecast_tempNight {
  flex: 0 0 55px;
  margin-left: 10px;
}

@media only screen and (min-width: 1200px) {
  .dayForecast,
  .forecast {
    max-width: 1200px;
  }
}
